

@import url(/vendor/normalize.css);
@import url(/pages/index.css);
@import url(/blocks/page.css);
@import url(/blocks/header.css);
@import url(/blocks/introduction.css);
@import url(/blocks/description.css);
@import url(/blocks/footer.css);

@font-face{
    font-family: 'Inter';
    src: url(/fonts/Inter-4.1/web/Inter-Black.woff2);
    font-weight: bold;
    font-style: bold;
}

@font-face{
    font-family: 'Inter';
    src: url(/fonts/Inter-4.1/web/Inter-Regular.woff2);
    font-weight: normal;
    font-style: normal;
}

